*.slo
*.lo
*.o
*.obj
*.so
*.lai
*.la
*.a
*.lib
*~
*.backup
*.bkp
.waf*
build
waf-
.lock*
*.userprefs
*.exe
*.ilk
*.pdb
*.dll
Thumbs.db
*.log
.dub
*.cache
*.suo
*.exp
*.swp
__dummy.htm*
*.prefs
*.sln
*.visualdproj
dub.selections.json